<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="blog" translate="label" sortOrder="10">
            <label>Blog</label>
        </tab>
        <section id="config" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Config</label>
            <tab>blog</tab>
            <resource>Panda_Blog::blog_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="pagination" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pagination</label>
                    <comment>How many posts will be displayed on page</comment>
                </field>
            </group>
        </section>

    </system>
</config>
