<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panda_Blog::blog" title="Blog" translate="title" module="Panda_Blog"
             sortOrder="10" dependsOnModule="Panda_Blog"
             action="blog/config/details" resource="Panda_Blog::blog_details"/>
    </menu>
</config>
